:host {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-items {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;

  &:hover,
  &.selected {
    cursor: pointer;
    background-color: #999;
  }

  span {
    margin-right: auto;
  }
}
