app-root {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  max-width: 625px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.logo {
  width: 25%;
  margin: 0 auto;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  &.hidden {
    display: none;
  }
}

button {
  background-color: royalblue;
  color: white;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  min-width: 2rem;
  height: 2rem;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &.red {
    background-color: red;
  }

  &.green {
    background-color: green;
  }
}

.modal {
  position: fixed;
  z-index: 101;
  width: 300px;
  left: calc(50vw - 150px);

  span.close {
    float: right;
    cursor: pointer;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
